<h1>Public::Items#index</h1>
<p>Find me in app/views/public/items/index.html.erb</p>
<main>

  <div class="item_visual">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <%= render "public/items/genre", genres: @genres %>
        </div>

        <div class="col-10">
          <h1>商品一覧</h1>
        </div>
      </div>
    </div>
  </div>
</main>
